*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(3, 160px);
    gap: 5px;
}

.cell {
    border: 2px solid sienna;
    cursor: pointer;
    transform: scale(1);
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:active {
    transform: scale(0.95);
    transition: transform 0.5s;
}